<div class="animated fadeIn row col s12 offset-s2" id="row1">

  <h4>Pesquise o seu herói pelo {{tipoPesquisa}}!</h4>
  
  <div class="row">
    
    <form #nome="ngForm" (ngSubmit)="onSubmit()">

      <div class="row">

        <div class="col l1 offset-l5 m3 offset-m3 s5 offset-s1">
          <input class="select" type="radio" id="opcao1" name="opcao1" [(ngModel)]="tipoPesquisa" value="nome" (click)="updatePlaceholder('nome')" required>
          <label for="opcao1">Nome</label>
        </div>
        
        <div class="col l1 m3 s5">
          <input type="radio" id="opcao2" name="opcao2" [(ngModel)]="tipoPesquisa" value="id" (click)="updatePlaceholder('id')" required>
          <label for="opcao2">ID</label>
        </div>

      </div>
      
      <div class="row">

        <div class="input-field col l8 offset-l2 s12">
          <input type="text" id="nome" name="nome" [placeholder]="placeholderValue" [(ngModel)]="nomeInput" value="">
        </div>

      </div>
      
      <div class="row">
        <button class="waves-effect waves-light btn" type="submit" [disabled]=" (nomeInput == '') ">Pesquisar</button>
      </div>

    </form>

  </div>

</div>