<div class="animated fadeIn row col s12 offset-s2" id="row1">
  <h4>É necessário estar logado para ter acesso à essa área</h4>
  <div class="row col l12">
    <form #login="ngForm" (ngSubmit)="onSubmit(login)">
      <div class="row">
        <div class="input-field col l4 offset-l2 m12 offset-m6 s12">
          <input id="usuario" type="text" name="usuario" ngModel required #usuario="ngModel">
          <label for="usuario">Usuário</label>
          <div *ngIf="usuario.touched && usuario.invalid">
            <p>Campo obrigatório.</p>
          </div>
        </div>
        <div class="input-field col l4 m12 offset-m6 s12">
          <input id="senha" type="password" name="senha" ngModel required #senha="ngModel" (blur)="checkPassword(senha)">
          <label for="senha">Senha</label>
          <div *ngIf="passwordError && senha.touched">
            <p>A senha precisa ter no mínimo 6 caracteres.</p>
          </div>
        </div>
      </div>
      
      <div class="row col l4 offset-l4 m12 offset-m6 s12">
        <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid || passwordError">LOGIN</button>
      </div>
      
      <div *ngIf="trigger" class="row col l4 offset-l4 m12 offset-m6 s12">
        <p>Ainda não implementamos isto ;)</p>
      </div>

    </form>
  </div>
</div>
